

.flex-conteiner3{
    margin: 0px;
    width: 100%;
    display: flex;       
    height:auto;
    min-height: 350px;
    max-height: 450px;
    background-color: #FFFFFF;
   

}





.flex-item3 {   
    
    justify-content:space-around ;   
    text-align: center;   
    height:auto;
    min-height: 350px;
    max-height: 450px;
    padding: 20px;
  


}




.titulo3{
color: black;
text-align: center;
  font-size: 30px;
   padding-top: 50px;
 
 
}

.subtitulo3{

    color: black;
    text-align: center;
    font-size: 30px;
   

    
}

.imagen3 {

    max-height: 400px;
    min-height: 300px;
    max-width: 600px;
    min-width: 400px;

    

}
