

.flex-conteiner5{
    margin: 0px;
    width: 100%;
    display: flex;       
    max-height:900px;

   
   
    

}





.flex-item5 {   
    
    justify-content:space-around ;   
    text-align: center;   

    max-height:900px;
    padding-top:10px;
    padding-bottom:20px;
   


}



/*
.titulo5{
color: black;
text-align: center;
  font-size: 30px;
   padding-top: 50px;
   font-family: 'Bebas Neue', cursive;
 
}


*/

.subtitulo5{

    color: black;
    text-align: center;
    font-size: 30px;
    font-family: 'Bebas Neue', cursive;
    
}

.imagen5 {

    max-height: 900px;   
    max-width: 900px;
    padding-left: 0px;


}




.flex-conteiner52{
    
    width: 100%;
    display: flex;      
    justify-content: center;
    max-height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
  
   
  

}





.flex-item52 {

    height: auto;
    width: auto;    
  
  
    

}


.imagen52{

    max-height: 400px;;
    max-width: 400px;
    padding: 25px;
 

}


.best5{
    
    height: auto;
    width: auto;
    background-color: #F1F1F1;


    
}


.titulo5{
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 9vh;
    font-size: bold;

}

.subtitulo5{

    
    font-family: 'Montserrat Subrayada', sans-serif;
    font-size: bold;
    font-size: 7vh;
    padding-top: 30px;
    padding-bottom: 50px;
}