

.flex-conteiner5{
    margin: 0px;
    width: 100%;
    display: flex;       
    max-height:900px;
   
   
    

}





.flex-item5 {   
    
    justify-content:space-around ;   
    text-align: center;   
    max-height:900px;
    padding-top:20px;
    padding-bottom:20px;


}




.titulo5{
color: black;
text-align: center;
  font-size: 30px;
   padding-top: 50px;
   font-family: 'Bebas Neue', cursive;
 
}

.subtitulo5{

    color: black;
    text-align: center;
    font-size: 30px;
    font-family: 'Bebas Neue', cursive;
    
}

.imagen5 {

    max-height: 900px;   
    max-width: 900px;
    padding-left: 0px;
 


    

}


