*{background-color: white;}

.centrar {text-align: center;}

.row {  border-color: black;
    border-width: 1px;
    border-style: solid; }

.a{ border-color: black;
    border-width: 1px;
    border-style: solid;
    
    
 
    

}

.img{
    width:100%;
height:auto;
align-items: center;
}






