@media screen and (min-width: 1366px) and (max-width: 1920px) { 
.iconocarrito {
    display: flex;
    position: fixed;
    text-align: left;
    flex-direction: row;
    justify-content: right;
    top: 5px;
    width: 60px;
    margin-left: 96vw;






}

.letracarro {

    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    margin-right: 0;

}


.imgcarro {
    width: 100px;
    height: 100px;
}


.itemsdelcarro{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 23px;
}




.contenedorcarro {

    /*
    background-color: #F9D1C5;

    */

    background-image: url(../images/fondo6.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 400px;
    text-align: left;
    border-radius: 10px;
    border: 0px solid black;



}



#checkout{
     margin-top: 2px;
     padding: 4px;
    font-family: 'Bebas Neue', cursive;
    font-size: 18px;
}

#empty-cart{
    margin-top: 2px;
     padding: 4px;
    font-family: 'Bebas Neue', cursive;
    font-size: 18px;
}

.total{
    padding-top: 2px;
    padding-bottom: px;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;

}




.lateral {

    writing-mode: vertical-rl;
    text-orientation: upright;

    
    background-color: transparent;

    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 25px;
    min-height: 40px;
    max-height: 40px;
    margin-right: 10px;
   
    




}

.miDiv{
    display: flex;
}


.add-to-cart{

    width: 100%;
    display: flex;    
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 4px;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;

   
}


 }

