@media screen and (max-width: 1024px) {
    .iconocarrito {
        display: flex;
        position: absolute;
        text-align: center;
        flex-direction: column;
        justify-content: right;
        top: 100px;
        width: 40%;
        margin-left: 50vw;
       

    }

    .letracarro {
        font-family: 'Bebas Neue', cursive;
        font-size: 20px;
        margin-right: 0;
    }


    .itemsdelcarro {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        align-items: center;
        font-family: 'Bebas Neue', cursive;
        font-size: 23px;
       
    }

    .contenedorcarro {
        background-image: url(../images/fondo8.png);
        background-repeat: no-repeat;
        background-size: cover;
        max-width: 100%;
        text-align: center;
        border-radius: 10px;
     
    }

    #checkout {
        margin-top: 2px;
        padding: 4px;
        font-family: 'Bebas Neue', cursive;
        font-size: 18px;
    }

    #empty-cart {
        margin-top: 2px;
        padding: 4px;
        font-family: 'Bebas Neue', cursive;
        font-size: 18px;
    }

    .total {
        padding-top: 2px;
        padding-bottom: px;
        text-align: center;
        font-family: 'Bebas Neue', cursive;
        font-size: 25px;
    }

    .lateral {
        writing-mode: vertical-rl;
        text-orientation: upright;
        background-color: transparent;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right: 25px;
        min-height: 40px;
        max-height: 40px;
        margin-right: 10px;
    }

    .miDiv {
        display: flex;
    }

    .textbest {
        display: flex;
        justify-content: center;
    }

    .add-to-cart {
        width: 40%;
        margin-left: 5px;
        margin-right: 5px;
        display: flex;
        justify-content: center;
        text-align: center;
        font-family: 'Bebas Neue', cursive;
        font-size: 20px;
    }
}

@media screen and (min-width: 1367px) {

    .iconocarrito {
        display: flex;
        position: fixed;
        text-align: left;
        flex-direction: row;
        justify-content: right;
        top: -3px;
        width: 60px;
        margin-left: 96vw;

    }

    .letracarro {

        font-family: 'Bebas Neue', cursive;
        font-size: 20px;
        margin-right: 0;

    }


    .imgcarro {
        width: 100px;
        height: 100px;
    }


    .itemsdelcarro {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        align-items: center;
        font-family: 'Bebas Neue', cursive;
        font-size: 23px;
    }




    .contenedorcarro {

        /*
    background-color: #F9D1C5;

    */

        background-image: url(../images/fondo8.png);
        background-repeat: no-repeat;
        background-size: cover;
        min-width: 400px;
        text-align: left;
        border-radius: 10px;
        border: 0px solid black;



    }



    #checkout {
        margin-top: 2px;
        padding: 4px;
        font-family: 'Bebas Neue', cursive;
        font-size: 18px;
    }

    #empty-cart {
        margin-top: 2px;
        padding: 4px;
        font-family: 'Bebas Neue', cursive;
        font-size: 18px;
    }

    .total {
        padding-top: 2px;
        padding-bottom: px;
        text-align: center;
        font-family: 'Bebas Neue', cursive;
        font-size: 25px;

    }




    .lateral {

        writing-mode: vertical-rl;
        text-orientation: upright;
        background-color: transparent;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right: 25px;
        min-height: 40px;
        max-height: 40px;
        margin-right: 10px;

    }

    .miDiv {
        display: flex;
    }


    .add-to-cart {

        width: 95%;
        margin-left: 5px;
        margin-right: 5px;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        font-family: 'Bebas Neue', cursive;
        font-size: 20px;


    }
}


@media screen and (min-width: 1024px) and (max-width: 1366px) {

    .iconocarrito {
        display: flex;
        position: fixed;
        text-align: left;
        flex-direction: row;
        justify-content: right;
        top: -3px;
        width: 60px;
        margin-left: 93vw;

    }

    .letracarro {

        font-family: 'Bebas Neue', cursive;
        font-size: 20px;
        margin-right: 0;

    }


    .imgcarro {
        width: 100px;
        height: 100px;
    }


    .itemsdelcarro {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        align-items: center;
        font-family: 'Bebas Neue', cursive;
        font-size: 23px;
    }




    .contenedorcarro {

        /*
        background-color: #F9D1C5;
    
        */

        background-image: url(../images/fondo8.png);
        background-repeat: no-repeat;
        background-size: cover;
        min-width: 400px;
        text-align: left;
        border-radius: 10px;
        border: 0px solid black;



    }



    #checkout {
        margin-top: 2px;
        padding: 4px;
        font-family: 'Bebas Neue', cursive;
        font-size: 18px;
    }

    #empty-cart {
        margin-top: 2px;
        padding: 4px;
        font-family: 'Bebas Neue', cursive;
        font-size: 18px;
    }

    .total {
        padding-top: 2px;
        padding-bottom: px;
        text-align: center;
        font-family: 'Bebas Neue', cursive;
        font-size: 25px;

    }




    .lateral {

        writing-mode: vertical-rl;
        text-orientation: upright;
        background-color: transparent;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right: 25px;
        min-height: 40px;
        max-height: 40px;
        margin-right: 10px;

    }

    .miDiv {
        display: flex;
    }


    .add-to-cart {

        width: 95%;
        margin-left: 5px;
        margin-right: 5px;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        font-family: 'Bebas Neue', cursive;
        font-size: 20px;


    }
}